sudo: false
language: node_js

install:
  - curl -L https://github.com/spf13/hugo/releases/download/v0.18/hugo_0.18_Linux-64bit.tar.gz | tar xvz
  - ./hugo_0.18_linux_amd64/hugo_0.18_linux_amd64 version

script:
  - hugo

deploy:
  skip_cleanup: true
  provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: "conhugo"
  acl: public_read
  local_dir: public
